.double-prev-icon {
  border: 1px solid #6c757d;
  font-size: 20px;
  border-radius: 14px;
  background-color: #cbd5e1;
  cursor: pointer;
  width: 26px;
  height: 26px;
}

.previous-icon {
  border: 1px solid #6c757d;
  font-size: 25px;
  border-radius: 14px;
  background-color: #cbd5e1;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.next-icon {
  border: 1px solid #6c757d;
  font-size: 25px;
  border-radius: 14px;
  background-color: #cbd5e1;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.double-next-icon {
  border: 1px solid #6c757d;
  font-size: 20px;
  border-radius: 14px;
  background-color: #cbd5e1;
  cursor: pointer;
  width: 26px;
  height: 26px;
}

.each-page {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: #2d87bb;
  border: 1px, solid, #9c9b9a;
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  width: 28px;
  height: 28px;
}
